.about {
  background: linear-gradient(#061d38, #e4692e);
  height: 100vh;
}

.aboutTitle {
  position: absolute;
  left: 12%;
  top: 36%;
  color: white;
  align-self: center;
  display: flex;
  flex-direction: column;
  font-family: $fontFuturaMedium;
  font-size: 10rem;
  z-index: 10;
}

.subLine1 {
  display: block;
  position: relative;
  top: -10px;
  left: 20px;
  width: 110px;
  height: 5px;
  background-color: #ff4d5a;
  border-radius: 50px;
}

.subLine2 {
  display: block;
  position: relative;
  top: 0px;
  left: 50px;
  width: 110px;
  height: 5px;
  background-color: #ff4d5a;
  border-radius: 50px;
}

.subtitleAbout {
  position: relative;
  font-size: 4rem;
  left: 250px;
  top: 70px;
  color: white;
  align-self: center;
  display: flex;
  flex-direction: column;
  font-family: $fontFuturaMedium;
}

.aboutDescription {
  color: white;
  font-family: $fontFuturaItalic;
  letter-spacing: 0.1rem;
  font-size: 4rem;
  position: absolute;
  top: 65%;
  left: 12%;
}

.aboutMark {
  background-color: transparent;
  color: #ff4d5a;
}

.rightSectionAbout {
  width: 40vw;
  height: 50vh;
  position: absolute;
  left: 50%;
  top: 20%;
}
.googleWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

#map {
  background-color: grey;
  width: 98%;
  height: 98%;
}
