.about {
  background: linear-gradient(#061d38, #e4692e);
  height: 100vh;
}

.aboutTitle {
  position: relative;
  left: 250px;
  color: white;
  align-self: center;
  display: flex;
  flex-direction: column;
  font-family: $fontFuturaMedium;
  font-size: 10rem;
  z-index: 10;
}

.subLine1 {
  display: block;
  position: relative;
  top: 50px;
  left: 250px;
  width: 110px;
  height: 5px;
  background-color: #ff4d5a;
  border-radius: 50px;
}

.subLine2 {
  display: block;
  position: relative;
  top: 20px;
  left: 200px;
  width: 110px;
  height: 5px;
  background-color: #ff4d5a;
  border-radius: 50px;
}

.subtitleAbout {
  position: relative;
  font-size: 4rem;
  left: 250px;
  top: 50px;
  color: white;
  align-self: center;
  display: flex;
  flex-direction: column;
  font-family: $fontFuturaMedium;
}

.aboutDescription {
  color: white;
  font-family: $fontFuturaItalic;
  letter-spacing: 0.1rem;
  font-size: 4rem;
  position: relative;
  top: 120px;
  left: 300px;
}

.aboutMark {
  background-color: transparent;
  color: #ff4d5a;
}

.rightSectionAbout {
  width: 850px;
  height: 500px;
  position: relative;
  left: 1000px;
  top: -200px;
}
.googleWrapper {
  position: relative;
  height: 500px;
  width: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #061d38;
}

#map {
  background-color: grey;
  width: 95%;
  height: 90%;
}
