.about {
  background: linear-gradient(#061d38, #e4692e);
  height: 100vh;
}

.titleAboutSubLine {
  position: absolute;
  left: 12%;
  top: 36%;
  color: white;
  align-self: center;
  display: flex;
  flex-direction: column;
  font-family: $fontFuturaMedium;
  font-size: 10rem;
  z-index: 10;
}

.subLine1 {
  display: block;
  position: relative;
  top: -10px;
  left: px;
  width: 110px;
  height: 5px;
  background-color: #ff4d5a;
  border-radius: 50px;
}

.subLine2 {
  display: block;
  position: relative;
  top: 0px;
  left: 50px;
  width: 110px;
  height: 5px;
  background-color: #ff4d5a;
  border-radius: 50px;
}

.subtitleAbout {
  position: absolute;
  font-size: 4rem;
  left: 250px;
  top: 57%;
  color: white;
  align-self: center;
  display: flex;
  flex-direction: column;
  font-family: $fontFuturaMedium;
}

.aboutDescription {
  color: white;
  font-family: $fontFuturaItalic;
  letter-spacing: 0.1rem;
  font-size: 4rem;
  position: absolute;
  top: 72%;
  left: 12%;
}

.aboutMark {
  background-color: transparent;
  color: #ff4d5a;
}

.rightSectionAbout {
  width: 40vw;
  height: 50vh;
  position: absolute;
  left: 50%;
  top: 20%;
}

.googleWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

#map {
  background-color: grey;
  width: 98%;
  height: 98%;
}

.knowMoreAbout {
  color: white;
  font-family: $fontFuturaMedium;
  font-size: 4rem;
  position: absolute;
  left: 65%;
  top: 80%;
  display: flex;
  transition: all 0.2s ease-in-out;
  z-index: 25;
}

.knowMoreAbout:hover {
  cursor: pointer;
  opacity: 0.7;
}

.arrowAbout {
  position: relative;
  top: 5px;
}

.arrowAbout path {
  fill: white;
}

.hiddenKnowMoreSection {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 50;
  background-color: #061d38;
  transform: translateX(150%);
  transition: 0.75s all ease-in-out;
}

.activeHiddenAbout {
  transform: translateX(0%);
  z-index: 50;
}

.hiddenKnowMoreSectionArrowBack path {
  fill: white;
}

.photoProfile {
  position: relative;
  background-color: red;
  width: 258px;
  height: 300px;
  margin: 5%;
  margin-left: 15%;
  border: white solid 2px;
}

.aboutKnowMoreDescription {
  color: white;
  font-family: $fontFuturaMedium;
  font-size: 2.5rem;
  width: 80%;
  margin: 5%;
  z-index: 24;
}

.containerKnowMoreTop {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.hiddenKnowMoreSectionArrowBack {
  position: absolute;
  top: 9%;
  left: 3%;
  width: 50px;
  border-radius: 50%;
  border: solid 2px transparent;
  padding: 0;
  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.hiddenKnowMoreSectionArrowBack svg {
  padding: 2px;
}

.hiddenKnowMoreSectionArrowBack:hover {
  border: solid 2px white;
}

//Smartphone media queries
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .titleAboutSubLine {
    top: 45%;
  }

  .subLine1 {
    position: relative;
    top: 150px;
  }

  .subLine2 {
    position: relative;
    top: 170px;
  }

  .knowMoreAbout {
    position: relative;
    top: 250%;
    left: 40%;
  }
  .googleWrapper {
    margin-left: 5%;
    margin-right: 5%;
  }
  .containerKnowMoreTop {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
  }
  .photoProfile {
    width: 20vw;
    height: 22vh;
    margin-top: 70px;
  }
  .aboutKnowMoreDescription {
    margin: 5px;
    overflow: scroll;
    height: 100%;
    margin-left: 12%;
  }
  .rightSectionAbout {
    width: 90vw;
    height: 30vh;
    position: absolute;
    top: 15%;
    left: 8%;
  }

  .aboutTitle {
    position: absolute;
    top: 30%;
    font-size: 6rem;
  }
  .aboutDescription {
    font-size: 2.5rem;
    position: absolute;
    left: 5%;
    top: 75%;
  }
  .subtitleAbout {
    font-size: 3.5rem;
    position: absolute;
    top: 55%;
    white-space: nowrap;
    left: 45%;
  }
  .knowMoreAbout {
    top: 170px;
    left: 27%;
  }
  .photoProfile {
    position: relative;
    background-color: red;
    width: 40vw;
    height: 46vw;
    margin: 5%;
    margin-left: 15%;
    border: white solid 2px;
  }
}
