.contact {
  height: 100vh;
  background-color: #061d38;
}

.contactRedLine01 {
  display: block;
  position: absolute;
  top: 38%;
  left: 150px;
  width: 110px;
  height: 5px;
  background-color: #ff4d5a;
  border-radius: 50px;
}

.contactRedLine02 {
  display: block;
  position: absolute;
  top: 40%;
  left: 180px;
  width: 110px;
  height: 5px;
  background-color: #ff4d5a;
  border-radius: 50px;
}

.contactTitle {
  position: absolute;
  left: 8%;
  top: 25%;
  color: white;
  align-self: center;
  display: flex;
  flex-direction: column;
  font-family: $fontFuturaMedium;
  font-size: 10rem;
  z-index: 10;
}

.subtitleContact {
  position: relative;
  left: 8%;
  top: 50%;
  color: white;
  align-self: center;
  display: flex;
  flex-direction: column;
  font-family: $fontFuturaMedium;
  font-size: 10rem;
  z-index: 10;
  top: 50px;
  font-size: 8rem;
}

.subtitleContact a {
  text-decoration: none;
  color: white;
  text-decoration: underline transparent;
  transition: all 0.2s ease-in-out;
}

.subtitleContact a:hover {
  text-decoration: underline white;
}

.githubContact:hover,
.cvContact:hover,
.linkedInContact:hover {
  filter: drop-shadow(0px 0px 20px white);
}

#scene-d {
  position: absolute;
  left: 45%;
  top: 18%;
}

.starsContact {
  position: relative;
  left: -400px;
  top: -200px;
}

.crescentMoon {
  position: relative;
  left: 350px;
  top: 100px;
  z-index: 15;
  filter: drop-shadow(0px 0px 120px #ffffff);
}

.moonLightContact {
  position: relative;
  top: -300px;
  left: -150px;
  z-index: 14;
}

.cloudNight01 {
  position: relative;
  left: 550px;
  top: 450px;
  z-index: 20;
}

.cloudNightBack02 {
  position: relative;
  left: 150px;
  top: 375px;
  z-index: 10;
}

.cloudNight03 {
  position: relative;
  left: 300px;
  top: -50px;
  z-index: 20;
}

.cloudNight04 {
  position: relative;
  left: -50px;
  top: 100px;
  z-index: 20;
}

.cloudNightBack05 {
  position: relative;
  left: 550px;
  top: 150px;
  z-index: 10;
}

@media only screen and (max-width: 650px) {
  .mailContact a {
    font-size: 3rem;
  }
  .contactTitle {
    font-size: 6rem;
  }
  .numberContact {
    font-size: 3rem;
  }
}
