.landingPage {
  height: 100vh;
  width: 100%;
  background-color: #061d38;
}

#fullpage {
  background-color: #061d38;
}

.heroTitle {
  position: absolute;
  left: 10%;
  top: 40%;
  color: white;
  align-self: center;
  display: flex;
  flex-direction: column;
  font-family: $fontFuturaMedium;
  font-size: 10rem;
}

.heroTitle :nth-child(2) {
  margin-left: 40px;
}

.firstRedLine {
  display: block;
  position: relative;
  width: 110px;
  height: 5px;
  background-color: #ff4d5a;
  border-radius: 50px;
  top: 150px;
}

.secondRedLine {
  display: block;
  position: relative;
  top: 0px;
  left: 110px;
  width: 110px;
  height: 5px;
  background-color: #ff4d5a;
  border-radius: 50px;
}

.descriptionHero {
  position: relative;
  font-size: 2.5rem;
  top: 30px;
  font-weight: 300;
}

.svgHeadline {
  color: #ff4d5a;
  font-family: $fontFuturaBold;
  font-size: 7rem;
  letter-spacing: 0.5rem;
  font-weight: 900;
  z-index: 20;
  position: relative;
  right: 95px;
  top: 300px;
}

.scrollDown {
  position: absolute;
  width: 2px;
  height: 200px;
  background-color: white;
  bottom: 4%;
  left: 2%;
  color: white;
  font-family: $fontFuturaMedium;
  font-size: 1.5rem;
}

.scrollDown span {
  position: relative;
  left: 10px;
}

#scene-a {
  position: absolute;
  left: 51%;
  top: 20%;
}

.stars {
  position: relative;
  z-index: 1;
  top: -100px;
  left: -500px;
}

.moonImage {
  position: relative;
  left: 0%;
  top: -100px;
  z-index: 15;
  filter: drop-shadow(0px 0px 120px #ffffff);
}

.moonlight {
  position: relative;
  left: -420px;
  top: -420px;
  z-index: 15;
}

//dark

.cloud01 {
  position: relative;
  top: 300px;
  left: -200px;
  z-index: 20;
}

//white

.cloud02 {
  position: relative;
  top: -10px;
  left: -200px;
  z-index: 10;
}

//dark

.cloud03 {
  position: relative;
  top: 400px;
  left: 300px;
  z-index: 20;
}

//dark

.cloud04 {
  position: relative;
  top: 50px;
  left: 350px;
  z-index: 20;
}

//White

.cloud05 {
  position: relative;
  top: -100px;
  left: 250px;
  z-index: 10;
}
