.works {
  height: 100vh;
  background: linear-gradient(#e4692e, #fff14c);
}

.worksTitle {
  position: absolute;
  left: 12%;
  top: 36%;
  color: #061d38;
  align-self: center;
  display: flex;
  flex-direction: column;
  font-family: $fontFuturaMedium;
  font-size: 10rem;
  z-index: 10;
}

.worksRedLine1 {
  display: block;
  position: relative;
  top: -5px;
  left: 15px;
  width: 110px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 50px;
}

.worksRedLine2 {
  display: block;
  position: relative;
  top: 10px;
  left: 45px;
  width: 110px;
  height: 5px;
  background-color: #fff;
  border-radius: 50px;
}

.worksRightSection {
  height: 100%;
  width: 850px;
  position: absolute;
  left: 50%;
  top: 0;
}

.subtitleWorks {
  position: relative;
  font-size: 4rem;
  left: 0px;
  top: 40px;
  color: white;
  align-self: center;
  display: flex;
  flex-direction: column;
  font-family: $fontFuturaMedium;
}

#scene-c {
  position: absolute;
  left: 50%;
  top: 8%;
}

.sunlight {
  position: relative;
  top: 20px;
  left: -500px;
  z-index: 14;
}

.sun {
  position: relative;
  left: -450px;
  top: 75px;
  z-index: 15;
}

.cloudDay01 {
  position: relative;
  top: 20px;
  left: -450px;
  z-index: 20;
}

.cloudDay02 {
  position: relative;
  top: 550px;
  left: -550px;
  z-index: 20;
}

.cloudDay03 {
  position: relative;
  top: 250px;
  left: -50px;
  z-index: 20;
}

.cloudDayBack01 {
  z-index: 10;
  position: relative;
  top: 250px;
  left: -600px;
}

.cloudDayBack02 {
  z-index: 10;
  position: relative;
  top: 600px;
  left: -50px;
}
