* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Futura";
  src: url(/font/FuturaPTHeavy.otf);
}

@font-face {
  font-family: "FuturaBold";
  src: url(/font/FuturaPTHeavy.otf);
}

@font-face {
  font-family: "FuturaMedium";
  src: url(/font/FuturaPTMedium.otf);
}

@font-face {
  font-family: "FuturaLight";
  src: url(/font/FuturaPTLight.otf);
}

@font-face {
  font-family: "FuturaItalic";
  src: url(/font/FuturaPTCondBookOblique.otf);
}

.landingPage {
  height: 100vh;
  width: 100%;
  background-color: #061d38;
}

#fullpage {
  background-color: #061d38;
}

.heroTitle {
  position: absolute;
  left: 10%;
  top: 40%;
  color: white;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "FuturaMedium";
  font-size: 10rem;
}

.heroTitle :nth-child(2) {
  margin-left: 40px;
}

.firstRedLine {
  display: block;
  position: relative;
  width: 110px;
  height: 5px;
  background-color: #ff4d5a;
  border-radius: 50px;
  top: 150px;
}

.secondRedLine {
  display: block;
  position: relative;
  top: 0px;
  left: 110px;
  width: 110px;
  height: 5px;
  background-color: #ff4d5a;
  border-radius: 50px;
}

.descriptionHero {
  position: relative;
  font-size: 2.5rem;
  top: 30px;
  font-weight: 300;
}

.svgHeadline {
  color: #ff4d5a;
  font-family: "FuturaBold";
  font-size: 7rem;
  letter-spacing: 0.5rem;
  font-weight: 900;
  z-index: 20;
  position: relative;
  right: 95px;
  top: 300px;
}

.scrollDown {
  position: absolute;
  width: 2px;
  height: 200px;
  background-color: white;
  bottom: 4%;
  left: 2%;
  color: white;
  font-family: "FuturaMedium";
  font-size: 1.5rem;
}

.scrollDown span {
  position: relative;
  left: 10px;
}

#scene-a {
  position: absolute;
  left: 51%;
  top: 20%;
}

.stars {
  position: relative;
  z-index: 1;
  top: -100px;
  left: -500px;
}

.moonImage {
  position: relative;
  left: 0%;
  top: -100px;
  z-index: 15;
  -webkit-filter: drop-shadow(0px 0px 120px #ffffff);
          filter: drop-shadow(0px 0px 120px #ffffff);
}

.moonlight {
  position: relative;
  left: -420px;
  top: -420px;
  z-index: 15;
}

.cloud01 {
  position: relative;
  top: 300px;
  left: -200px;
  z-index: 20;
}

.cloud02 {
  position: relative;
  top: -10px;
  left: -200px;
  z-index: 10;
}

.cloud03 {
  position: relative;
  top: 400px;
  left: 300px;
  z-index: 20;
}

.cloud04 {
  position: relative;
  top: 50px;
  left: 350px;
  z-index: 20;
}

.cloud05 {
  position: relative;
  top: -100px;
  left: 250px;
  z-index: 10;
}

.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2% (1fr)[2] 2%;
      grid-template-columns: 2% repeat(2, 1fr) 2%;
  -ms-grid-rows: 0;
      grid-template-rows: 0;
  z-index: 100;
}

.firstHamburger,
.secondHamburger {
  display: block;
  background-color: white;
  height: 3px;
  width: 50px;
  margin: 10px;
  border-radius: 50px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.activeHamburgerButtonFirst {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.activeHamburgerButtonSecond {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.navlink a:not(.name) {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

.navlink a i {
  font-size: 4rem;
  margin-right: 50px;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.navlink a i:hover {
  opacity: 0.7;
}

.name {
  font-weight: 700;
  font-size: 2.5rem;
  color: white;
  font-family: "FuturaLight";
  letter-spacing: 0.25rem;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.name:hover {
  opacity: 0.7;
}

.rightNavbar {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  margin-top: 20px;
}

.leftNavbar {
  grid-row: 0;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-top: 20px;
}

.hamburger {
  cursor: pointer;
}

.fullNavbar {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#072142), color-stop(42%, #8c2b7a), to(#ff4d5a));
  background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.75s all ease-in-out;
  transition: 0.75s all ease-in-out;
  z-index: 50;
}

.navlinksFull a {
  font-family: "FuturaMedium";
  color: white;
  font-weight: 900;
  font-size: 10rem;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  -webkit-text-decoration: line-through transparent;
          text-decoration: line-through transparent;
}

.navlinksFull a:hover {
  -webkit-text-decoration: line-through white;
          text-decoration: line-through white;
}

.fullNavbarActive {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  z-index: 50;
}

.toggle .firstHamburger {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.toggle .secondHamburger {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: red;
}

.about {
  background: -webkit-gradient(linear, left top, left bottom, from(#061d38), to(#e4692e));
  background: linear-gradient(#061d38, #e4692e);
  height: 100vh;
}

.aboutTitle {
  position: absolute;
  left: 12%;
  top: 36%;
  color: white;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "FuturaMedium";
  font-size: 10rem;
  z-index: 10;
}

.subLine1 {
  display: block;
  position: relative;
  top: -10px;
  left: 20px;
  width: 110px;
  height: 5px;
  background-color: #ff4d5a;
  border-radius: 50px;
}

.subLine2 {
  display: block;
  position: relative;
  top: 0px;
  left: 50px;
  width: 110px;
  height: 5px;
  background-color: #ff4d5a;
  border-radius: 50px;
}

.subtitleAbout {
  position: relative;
  font-size: 4rem;
  left: 250px;
  top: 70px;
  color: white;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "FuturaMedium";
}

.aboutDescription {
  color: white;
  font-family: "FuturaItalic";
  letter-spacing: 0.1rem;
  font-size: 4rem;
  position: absolute;
  top: 65%;
  left: 12%;
}

.aboutMark {
  background-color: transparent;
  color: #ff4d5a;
}

.rightSectionAbout {
  width: 40vw;
  height: 50vh;
  position: absolute;
  left: 50%;
  top: 20%;
}

.googleWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

#map {
  background-color: grey;
  width: 98%;
  height: 98%;
}

.works {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4692e), to(#fff14c));
  background: linear-gradient(#e4692e, #fff14c);
}

.worksTitle {
  position: absolute;
  left: 12%;
  top: 36%;
  color: #061d38;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "FuturaMedium";
  font-size: 10rem;
  z-index: 10;
}

.worksRedLine1 {
  display: block;
  position: relative;
  top: -5px;
  left: 15px;
  width: 110px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 50px;
}

.worksRedLine2 {
  display: block;
  position: relative;
  top: 10px;
  left: 45px;
  width: 110px;
  height: 5px;
  background-color: #fff;
  border-radius: 50px;
}

.worksRightSection {
  height: 100%;
  width: 850px;
  position: absolute;
  left: 50%;
  top: 0;
}

.subtitleWorks {
  position: relative;
  font-size: 4rem;
  left: 0px;
  top: 40px;
  color: white;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "FuturaMedium";
}

#scene-c {
  position: absolute;
  left: 50%;
  top: 8%;
}

.sunlight {
  position: relative;
  top: 20px;
  left: -500px;
  z-index: 14;
}

.sun {
  position: relative;
  left: -450px;
  top: 75px;
  z-index: 15;
}

.cloudDay01 {
  position: relative;
  top: 20px;
  left: -450px;
  z-index: 20;
}

.cloudDay02 {
  position: relative;
  top: 550px;
  left: -550px;
  z-index: 20;
}

.cloudDay03 {
  position: relative;
  top: 250px;
  left: -50px;
  z-index: 20;
}

.cloudDayBack01 {
  z-index: 10;
  position: relative;
  top: 250px;
  left: -600px;
}

.cloudDayBack02 {
  z-index: 10;
  position: relative;
  top: 600px;
  left: -50px;
}

.projectSlide {
  color: #061d38;
  font-family: "FuturaMedium";
  font-size: 10rem;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projectSlide a {
  color: #061d38;
  border: 4px solid transparent;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projectSlide a:hover {
  border: 4px solid #061d38;
}

.projectSlide img {
  height: 100%;
  width: 100%;
}

.projectSlide p {
  font-size: 5rem;
  color: white;
  background-color: #061d38;
  width: 50%;
  margin-left: 25%;
  border-radius: 20px;
  margin-top: 10px;
}

.contact {
  height: 100vh;
  background-color: #061d38;
}

.contactTitle {
  position: absolute;
  left: 12%;
  top: 36%;
  color: white;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "FuturaMedium";
  font-size: 10rem;
  z-index: 10;
}

.contactRedLine01 {
  display: block;
  position: relative;
  top: 0px;
  left: 50px;
  width: 110px;
  height: 5px;
  background-color: #ff4d5a;
  border-radius: 50px;
}

.contactRedLine02 {
  display: block;
  position: relative;
  top: 20px;
  left: 120px;
  width: 110px;
  height: 5px;
  background-color: #ff4d5a;
  border-radius: 50px;
}

.subtitleContact {
  position: relative;
  top: 50px;
  font-size: 8rem;
}

.subtitleContact a {
  text-decoration: none;
  color: white;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.subtitleContact a:hover {
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}

.githubContact:hover,
.cvContact:hover {
  -webkit-filter: drop-shadow(0px 0px 20px white);
          filter: drop-shadow(0px 0px 20px white);
}

#scene-d {
  position: absolute;
  left: 45%;
  top: 18%;
}

.starsContact {
  position: relative;
  left: -400px;
  top: -200px;
}

.crescentMoon {
  position: relative;
  left: 350px;
  top: 100px;
  z-index: 15;
  -webkit-filter: drop-shadow(0px 0px 120px #ffffff);
          filter: drop-shadow(0px 0px 120px #ffffff);
}

.moonLightContact {
  position: relative;
  top: -300px;
  left: -150px;
  z-index: 14;
}

.cloudNight01 {
  position: relative;
  left: 550px;
  top: 450px;
  z-index: 20;
}

.cloudNightBack02 {
  position: relative;
  left: 150px;
  top: 375px;
  z-index: 10;
}

.cloudNight03 {
  position: relative;
  left: 300px;
  top: -50px;
  z-index: 20;
}

.cloudNight04 {
  position: relative;
  left: -50px;
  top: 100px;
  z-index: 20;
}

.cloudNightBack05 {
  position: relative;
  left: 550px;
  top: 150px;
  z-index: 10;
}
/*# sourceMappingURL=styles.css.map */